importFrom("AlgDesign", "optBlock")
importFrom("gtools", "permutations")
importFrom("MASS", "ginv")

export(all.combin, analyze.rand, balmin.RMD, des.MOLS, 
    find.BIB, get.plan, isCbalanced, isGYD, MOLS, rand.design.azais,
    rand.design.RC, williams.BIB, williams)
